In [49]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [50]:
df = pd.read_csv(r'C:\Users\Shivam kumar\Desktop\PROJECT\OLD-CAR-PRICE-PREDICTION\Notebook\Cars.csv')
df.head()

,car_name,yr_mfr,fuel_type,kms_run,sale_price,city,times_viewed,body_type,transmission,variant,...,total_owners,broker_quote,original_price,car_rating,ad_created_on,fitness_certificate,emi_starts_from,booking_down_pymnt,reserved,warranty_avail
0,maruti swift,2015,petrol,8063,386399,noida,18715,hatchback,manual,lxi opt,...,2,397677,404177.0,great,2021-04-04T07:09:18.583,True,8975,57960,False,False
1,maruti alto 800,2016,petrol,23104,265499,noida,2676,hatchback,manual,lxi,...,1,272935,354313.0,great,2021-03-22T14:07:32.833,True,6167,39825,False,False
2,hyundai grand i10,2017,petrol,23402,477699,noida,609,hatchback,manual,sports 1.2 vtvt,...,1,469605,488119.5,great,2021-03-20T05:36:31.311,True,11096,71655,False,False
3,maruti swift,2013,diesel,39124,307999,noida,6511,hatchback,manual,vdi,...,1,294262,374326.0,great,2021-01-21T12:59:19.299,True,7154,46200,False,False
4,hyundai grand i10,2015,petrol,22116,361499,noida,3225,hatchback,manual,magna 1.2 vtvt,...,1,360716,367216.0,great,2021-04-01T13:33:40.733,True,8397,54225,False,False

In [51]:
df.shape

(6249, 29)

In [52]:
df.duplicated().sum()

np.int64(0)

In [53]:
df.isnull().sum()

car_name               0
yr_mfr                 0
fuel_type              0
kms_run                0
sale_price             0
city                   0
times_viewed           0
body_type              0
transmission           0
variant                0
assured_buy            0
registered_city        0
registered_state       0
is_hot                 0
rto                    0
source                 0
make                   0
model                  0
car_availability       0
total_owners           0
broker_quote           0
original_price         0
car_rating             0
ad_created_on          0
fitness_certificate    0
emi_starts_from        0
booking_down_pymnt     0
reserved               0
warranty_avail         0
dtype: int64

In [54]:
print(df.columns)

Index(['car_name', 'yr_mfr', 'fuel_type', 'kms_run', 'sale_price', 'city',
       'times_viewed', 'body_type', 'transmission', 'variant', 'assured_buy',
       'registered_city', 'registered_state', 'is_hot', 'rto', 'source',
       'make', 'model', 'car_availability', 'total_owners', 'broker_quote',
       'original_price', 'car_rating', 'ad_created_on', 'fitness_certificate',
       'emi_starts_from', 'booking_down_pymnt', 'reserved', 'warranty_avail'],
      dtype='object')

In [55]:
# based on the EDA some non categorical features plays important role in determining the price of car
# So we will encode it into number so that machine can understand it

In [56]:
df_categorical = [column for column in df.columns if df[column].dtype == 'object']
df_categorical

['car_name',
 'fuel_type',
 'city',
 'body_type',
 'transmission',
 'variant',
 'registered_city',
 'registered_state',
 'rto',
 'source',
 'make',
 'model',
 'car_availability',
 'car_rating',
 'ad_created_on']

In [57]:
df[df_categorical].head()

,car_name,fuel_type,city,body_type,transmission,variant,registered_city,registered_state,rto,source,make,model,car_availability,car_rating,ad_created_on
0,maruti swift,petrol,noida,hatchback,manual,lxi opt,delhi,delhi,dl6c,inperson_sale,maruti,swift,in_stock,great,2021-04-04T07:09:18.583
1,maruti alto 800,petrol,noida,hatchback,manual,lxi,noida,uttar pradesh,up16,inperson_sale,maruti,alto 800,in_stock,great,2021-03-22T14:07:32.833
2,hyundai grand i10,petrol,noida,hatchback,manual,sports 1.2 vtvt,agra,uttar pradesh,up80,inperson_sale,hyundai,grand i10,in_stock,great,2021-03-20T05:36:31.311
3,maruti swift,diesel,noida,hatchback,manual,vdi,delhi,delhi,dl1c,inperson_sale,maruti,swift,in_stock,great,2021-01-21T12:59:19.299
4,hyundai grand i10,petrol,noida,hatchback,manual,magna 1.2 vtvt,new delhi,delhi,dl12,inperson_sale,hyundai,grand i10,in_stock,great,2021-04-01T13:33:40.733

In [58]:
# Car name, Fuel type, Body type, Transmission, car rating, make(company build), registerd state, model all help in determing the price

Encoding the fuel type

In [59]:
df['fuel_type'].unique()

array(['petrol', 'diesel', 'petrol & cng', 'petrol & lpg'], dtype=object)

In [60]:
fuel_mapping = {
    'petrol' : 1,
    'diesel' : 2,
    'petrol & cng' : 3,
    'petrol & lpg' : 4
}

df['fuel_type'] = df['fuel_type'].map(fuel_mapping).astype('int')

Encoding Body type

In [61]:
df['body_type'].unique()

array(['hatchback', 'sedan', 'suv', 'luxury sedan', 'luxury suv'],
      dtype=object)

In [62]:
body_mapping = {
    'hatchback' : 1,
    'sedan' : 2,
    'suv' : 3,
    'luxury sedan' : 4,
    'luxury suv' : 5
}

df['body_type'] = df['body_type'].map(body_mapping).astype('int')

Encoding Transmission

In [63]:
df['transmission'].unique()

array(['manual', 'automatic'], dtype=object)

In [64]:
trans_map = {
    'manual' : 1, 'automatic' : 2
}

df['transmission'] = df['transmission'].map(trans_map).astype('int')

Encoding car rating

In [65]:
df['car_rating'].unique()

array(['great', 'good', 'fair', 'overpriced'], dtype=object)

In [66]:
rating_map = {
    'great' : 1, 'good' : 2, 'fair' : 3, 'overpriced' : 4
}

df['car_rating'] = df['car_rating'].map(rating_map).astype('int')

Encoding company

In [67]:
df['make'].unique()

array(['maruti', 'hyundai', 'renault', 'honda', 'ford', 'nissan',
       'toyota', 'tata', 'datsun', 'mahindra', 'volkswagen', 'audi',
       'mercedes benz', 'chevrolet', 'bmw', 'skoda', 'volvo', 'fiat',
       'isuzu', 'ssangyong', 'jeep'], dtype=object)

In [68]:
make_map = {
    "maruti": 1,
    "hyundai": 2,
    "renault": 3,
    "honda": 4,
    "ford": 5,
    "nissan": 6,
    "toyota": 7,
    "tata": 8,
    "datsun": 9,
    "mahindra": 10,
    "volkswagen": 11,
    "audi": 12,
    "mercedes benz": 13,
    "chevrolet": 14,
    "bmw": 15,
    "skoda": 16,
    "volvo": 17,
    "fiat": 18,
    "isuzu": 19,
    "ssangyong": 20,
    "jeep": 21
}

df["make"] = df["make"].map(make_map).astype('int')

Encoding the state

In [69]:
df['registered_state'].unique()

array(['delhi', 'uttar pradesh', 'haryana', 'maharashtra', 'karnataka',
       'gujarat', 'jharkhand', 'punjab', 'telangana', 'andhra pradesh',
       'west bengal', 'tamil nadu', 'uttarakhand'], dtype=object)

In [70]:
state_mapping = {
    "delhi": 1,
    "uttar pradesh": 2,
    "haryana": 3,
    "maharashtra": 4,
    "karnataka": 5,
    "gujarat": 6,
    "jharkhand": 7,
    "punjab": 8,
    "telangana": 9,
    "andhra pradesh": 10,
    "west bengal": 11,
    "tamil nadu": 12,
    "uttarakhand": 13
}

df["registered_state"] = df["registered_state"].map(state_mapping).astype('int')

Encoding models name

In [71]:
df['model'].unique().shape

(129,)

In [72]:
model_mapping = {model: i for i, model in enumerate(sorted(df["model"].unique()))}
df["model"] = df["model"].map(model_mapping)

In [84]:
import joblib
joblib.dump(model_mapping, "model_mapping.pkl")

['model_mapping.pkl']

In [74]:
df['model'].head()

0    104
1     10
2     56
3    104
4     56
Name: model, dtype: int64

Encoding warranty

In [76]:
df.head()

,car_name,yr_mfr,fuel_type,kms_run,sale_price,city,times_viewed,body_type,transmission,variant,...,total_owners,broker_quote,original_price,car_rating,ad_created_on,fitness_certificate,emi_starts_from,booking_down_pymnt,reserved,warranty_avail
0,maruti swift,2015,1,8063,386399,noida,18715,1,1,lxi opt,...,2,397677,404177.0,1,2021-04-04T07:09:18.583,True,8975,57960,False,False
1,maruti alto 800,2016,1,23104,265499,noida,2676,1,1,lxi,...,1,272935,354313.0,1,2021-03-22T14:07:32.833,True,6167,39825,False,False
2,hyundai grand i10,2017,1,23402,477699,noida,609,1,1,sports 1.2 vtvt,...,1,469605,488119.5,1,2021-03-20T05:36:31.311,True,11096,71655,False,False
3,maruti swift,2013,2,39124,307999,noida,6511,1,1,vdi,...,1,294262,374326.0,1,2021-01-21T12:59:19.299,True,7154,46200,False,False
4,hyundai grand i10,2015,1,22116,361499,noida,3225,1,1,magna 1.2 vtvt,...,1,360716,367216.0,1,2021-04-01T13:33:40.733,True,8397,54225,False,False

In [77]:
df['warranty_avail'].dtype

dtype('bool')

In [78]:
df['warranty_avail'] = np.where(df['warranty_avail'] == True, 1, 2).astype('int')

In [79]:
df['warranty_avail'].head()

0    2
1    2
2    2
3    2
4    2
Name: warranty_avail, dtype: int64

In [82]:
pd.set_option("display.max_columns",None)

In [83]:
df.head()

,car_name,yr_mfr,fuel_type,kms_run,sale_price,city,times_viewed,body_type,transmission,variant,assured_buy,registered_city,registered_state,is_hot,rto,source,make,model,car_availability,total_owners,broker_quote,original_price,car_rating,ad_created_on,fitness_certificate,emi_starts_from,booking_down_pymnt,reserved,warranty_avail
0,maruti swift,2015,1,8063,386399,noida,18715,1,1,lxi opt,True,delhi,1,True,dl6c,inperson_sale,1,104,in_stock,2,397677,404177.0,1,2021-04-04T07:09:18.583,True,8975,57960,False,2
1,maruti alto 800,2016,1,23104,265499,noida,2676,1,1,lxi,True,noida,2,True,up16,inperson_sale,1,10,in_stock,1,272935,354313.0,1,2021-03-22T14:07:32.833,True,6167,39825,False,2
2,hyundai grand i10,2017,1,23402,477699,noida,609,1,1,sports 1.2 vtvt,True,agra,2,True,up80,inperson_sale,2,56,in_stock,1,469605,488119.5,1,2021-03-20T05:36:31.311,True,11096,71655,False,2
3,maruti swift,2013,2,39124,307999,noida,6511,1,1,vdi,True,delhi,1,True,dl1c,inperson_sale,1,104,in_stock,1,294262,374326.0,1,2021-01-21T12:59:19.299,True,7154,46200,False,2
4,hyundai grand i10,2015,1,22116,361499,noida,3225,1,1,magna 1.2 vtvt,False,new delhi,1,True,dl12,inperson_sale,2,56,in_stock,1,360716,367216.0,1,2021-04-01T13:33:40.733,True,8397,54225,False,2

In [86]:
# saving the file

df.to_csv("Final_Data.csv",index=False)