In [2]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [4]:
df = pd.read_csv(r'C:\Users\Shivam kumar\Desktop\PROJECT\OLD-CAR-PRICE-PREDICTION\Notebook\model_file_csv.csv')
df.head()

,yr_mfr,fuel_type,kms_run,sale_price,body_type,transmission,registered_state,make,model,total_owners,original_price,car_rating,warranty_avail
0,2015,1,8063,386399,1,1,1,1,104,2,404177.0,1,2
1,2016,1,23104,265499,1,1,2,1,10,1,354313.0,1,2
2,2017,1,23402,477699,1,1,2,2,56,1,488119.5,1,2
3,2013,2,39124,307999,1,1,1,1,104,1,374326.0,1,2
4,2015,1,22116,361499,1,1,1,2,56,1,367216.0,1,2

In [11]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score

models = {
    'Linear Regressor' : LinearRegression(),
    'Random Forest Regressor' : RandomForestRegressor(n_estimators=200,max_depth=None,random_state=42),
    'XGBoost Regressor' : XGBRegressor(n_estimators=300,learning_rate=0.05,max_depth=6,random_state=42)
}

In [12]:
from sklearn.model_selection import train_test_split

x  = df.drop(['sale_price','original_price'],axis=1)
y = df['sale_price']

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=42)

In [13]:
x_train.head()

,yr_mfr,fuel_type,kms_run,body_type,transmission,registered_state,make,model,total_owners,car_rating,warranty_avail
5178,2013,3,82921,1,1,1,1,10,2,2,2
4139,2012,3,103693,1,1,9,1,10,1,2,2
4231,2019,1,34886,1,1,9,1,10,1,1,2
5163,2011,1,58348,1,1,1,4,66,1,1,2
3044,2012,1,109892,1,1,4,2,59,1,1,2

In [16]:
def model_train():
    score = {}
    for name, model in models.items():
        model.fit(x_train,y_train)
        y_pred = model.predict(x_test)
        accuracy = r2_score(y_pred,y_test)
        score[name] = accuracy
    
    return score

In [19]:
X = pd.DataFrame(list(model_train().items()), columns=['Model','R2 Score'])
X

                     Model  R2 Score
0         Linear Regressor  0.360426
1  Random Forest Regressor  0.914729
2        XGBoost Regressor  0.922928

XGBoost performs best

In [20]:
xg_model = XGBRegressor(n_estimators=300,learning_rate=0.05,max_depth=6,random_state=42)
xg_model.fit(x_train,y_train)
y_pred = xg_model.predict(x_test)
r2_score(y_pred,y_test)

0.9229276776313782

In [21]:
import joblib

joblib.dump(xg_model,"model.pkl")

['model.pkl']